<div class="container">
  <h1 align="center">Listado de productos adquiridos por el cliente.</h1>
</br>
</p>

<input class="form-control" placeholder="Entre el id de un cliente" data-ng-model="id" 
ng-change = 'update()'  /><br>	

<!-- 	tabla para mostrar los archivos  -->
<table class="table" ng-show="productos.length != 0">
  <tr class="btn-primary">
    <th>Codigo producto</th>
    <th>Nombre del producto</th>
    <th>Tipo de producto</th>
    <th>Saldo</th>
  </tr>

  <!-- Columnas de la tabla aplicandoles diversos filtros de busqueda -->
  <tr data-ng-repeat="item in productos">
    <td>{{item.idProducto}}</td>
    <td>{{item.nombre}}</td>
    <td>{{item.tipo}}</td>
    <td>{{item.saldo | currency:"COP$ "}}</td>
  </tr>
</table>

<div class="alert alert-warning text-center" ng-show="productos.length === 0">
  Usted no tiene productos registrados
</div>
</div>